@model AnhApi.Modelos.Entidad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entidad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_tipo_entidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_tipo_entidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_tipo_sociedad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_tipo_sociedad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_ambito_operacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_ambito_operacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_localidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_localidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_municipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_municipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_estado_operacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_estado_operacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_estado_empadronamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_estado_empadronamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.denominacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.denominacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sigla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sigla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.identificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.identificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_identificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_identificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_registro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_registro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntidadPadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntidadPadre.aud_ip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aud_estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aud_estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aud_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aud_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aud_ip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aud_ip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aud_fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aud_fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_entidad">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
